*{
    font-family: Balsamiq Sans;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.profile-info {
    margin-top: 40px;
    padding: 20px;
}

h3 {
    margin: auto 10px;
}

h5 {
    margin: auto 0px;
}

.container h5 {
    color: #125a98;
    margin: auto 10px;
}


.card {
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.card-header {
    background-color: #17a2b8;
    flex: 2;
}

.card-bottom {
    background-color: white;
    flex: 5;
    border-right: 3px solid #cdcdcd;
    border-left: 3px solid #cdcdcd;
    border-bottom: 3px solid #cdcdcd;
}

.profile {
    background-color: transparent;
    height: 100px;
    position: absolute;
    left: 510px;
    top: 80px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
}

.info {
    display: flex;
    flex-direction: column;
}

.location-icon {
    height: 15px;
}

.gear-icon {
    height: 15px;
}