h1 {
    text-align: center;
    font-size: 60px;
    color: #474961;
    margin: 0px;
    font-family: Arimo;
}

p {
    text-align: center;
    font-size: 14px;
    color: #777788;
    font-family: Arimo;
}

img.octocat {
    height: 200px;
    margin: 10px;
}
.container {
    width: 1000px;
    display: flex-start;
    margin: 0px auto;
}

.container_top {
    background-color: coral;
    justify-content: space-evenly;
    display: flex;
    margin: 0px 20px 20px 20px;
}

.container_middle {
    background-color: aquamarine;
    justify-content: space-evenly;
    display: flex;
    margin: 20px;
}

.container_bottom {
    background-color: goldenrod;
    justify-content: space-evenly;
    display: flex;
    margin: 20px 20px 0px 20px;
}