h1 {
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 0px 0px 0px 15px;
    margin: 5px;
    font-family: Balsamiq Sans;
}

span {
    color: aqua;
    font-family: Balsamiq Sans;
}

h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-family: Balsamiq Sans;
    font-weight: 300;
    font-style: italic;
    margin: 5px;
    padding: 5px;
}

h3 {
    background-color: #9fc5f8 ;
    color: #281d57;
    text-align: right;
    font-family: Balsamiq Sans;
    font-weight: 500;
    padding: 5px 15px 5px 5px;
    margin: 5px;
    text-decoration: underline;
}