.search {
    border-color: #32c79b;
    border-radius: 50px;
    background-color: white;
    font-weight: bold;
    width: 150px;
    color: #32c79b;
    padding: 5px;
    margin: 5px;
}

.plus {
    background-color: #32c79b;
    border-radius: 50%;
    font-size: 25px;
    height: 40px;
    width: 40px;
    margin: 5px;
    color: white;
    border-color: white;
}

.account {
    background-color: #007bff;
    font-size: 15px;
    height: 40px;
    width: 200px;
    color: white;
    margin: 5px;
    box-shadow: 5px 5px 0px black;
}
